@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(69,0,79);
    background: linear-gradient(180deg, rgba(69,0,79,1) 10%, rgba(78,12,140,1) 100%);
    color: #eee;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
    background: rgb(69,0,79);
    background: linear-gradient(180deg, rgba(69,0,79,1) 10%, rgba(78,12,140,1) 100%);
}

html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 10px;
}

.cursor2 {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    /* border: 2px solid white; */
    /* background-color: rgba(255, 255, 255, 0.356); */
    height: 30px;
    width: 30px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  .cursor2::after,
  .cursor2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50px;
  }
  .cursor2::before {
    background-color: rgb(255, 255, 255);
  }
  .cursor2.click::before {
    animation: click 1s ease forwards;
    background-color: rgb(255, 255, 255);
  }
  @keyframes click {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(7);
    }
  }



.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.container p span.typed-text {
    font-weight: normal;
    color: white;
}

.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

.loader {
    width: 120px;
    height: 120px;
    border-top: 4px solid rgb(237, 44, 73);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.zero{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero h2{
    max-width: 50rem;
}

.zero img{
    width: 40%;
    margin-left: 40px;
    border-radius: 10px;
}

#divider {
	height: 2px;
	width: 80%;
	background: blue;
	background: linear-gradient(90deg, hsl(0, 0%, 20%), hsl(0, 0%, 70%), hsl(0, 0%, 20%));
    margin-left: 10rem;
}

.zero2{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero2 img{
    width: 40%;
    margin-left: 40px;
    border-radius: 10px;
}
.zero2 h2{
    max-width: 50rem;
}
.zero3{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zero3 h2{
    max-width: 50rem;
}

.zero3 img{
    width: 40%;
    margin-left: 40px;
    border-radius: 10px;
}
.zero4{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero4 h2{
    max-width: 50rem;
}

.zero4 img{
    width: 25%;
    margin-left: 40px;
    border-radius: 10px;
}
.zero5{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero5 h2{
    max-width: 50rem;
}

.zero5 img{
    width: 25%;
    margin-left: 40px;
    border-radius: 10px;
}
.zero6{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero6 h2{
    max-width: 50rem;
}

.zero6 img{
    width: 40%;
    margin-left: 40px;
    border-radius: 10px;
}
.zero7{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero7 h2{
    max-width: 50rem;
}

.zero7 img{
    width: 30%;
    margin-left: 40px;
    border-radius: 10px;
}
  
  .arrow,
  .arrow:before {
    position: absolute;
    left: 50%;
  }
  
  .arrow {
    width: 40px;
    height: 40px;
    top: 90%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
  }
  
  .arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }
  
  @keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-10px, -10px);
    }
  }
  


  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  


  .card {
    width: 800px;
    height: 600px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  
  .card h2 {
    z-index: 1;
    color: white;
    font-size: 1em;
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 800, 600), rgb(255, 48, 255));
    height: 300%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  /* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */
  
  




  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



  button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 80%;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .columnleft {
    width: 40%;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    
  }
  .columnright {
    width: 50%;
    float: right;
    margin-top: 100px;
    margin-right: 50px;
    border-radius: 20px;
  }
  

  form {
    font-family: 'Lexend Deca', sans-serif;    
    background-color: rgba(142, 65, 243, 0.404);
    padding: 2.5rem;
    border-radius: 10px;
    width: 70%;
    max-width: 100vh;

}

@media screen and (max-width: 80rem) {
  form {
    max-width: 200vh;
    width: 25rem;
  }}

  @media screen and (min-width: 70rem) {
    form {
      max-width: 200vh;
      width: 30rem;
    }}

#image{

    width: 500px;
  }
  label {
      font : .8em "typewriter", sans-serif;
    }
  input, textarea {
      font    : .9em/1.5em "handwriting", sans-serif;
      border-radius: 5px;
      padding : 0 10px;
      margin  : 0;
      width   : 240px;
    
      background: none;
    }
  
    input:focus, textarea:focus {
      background   : rgba(0,0,0,.1);
      border-radius: 5px;
      outline      : none;
    }
    textarea  {
      display : block;
    
      padding : 10px;
      margin  : 10px 0 0 -10px;
      width   : 340px;
      height  : 360px;
    
      resize  : none;
      overflow: auto;
    }
   
    
  
    input:invalid {
      border-color: #900;
      background-color: rgba(255, 221, 221, 0);
  }
  
  input:focus:invalid {
      outline: none;
  }

  .columnright img{

    width: 70%;
  }

  @media screen and (max-width: 80rem) {
    .zero h2 {
      max-width: 10rem;
      font-size: 1.2rem;
    }}

    @media screen and (min-width: 75rem) {
      .zero h2 {
        max-width: 20rem;
        font-size: 1.3rem;
      }}

      

  @media screen and (max-width: 80rem) {
    .zero2 h2 {
      max-width: 10rem;
      font-size: 1rem;
    }}

    @media screen and (min-width: 75rem) {
      .zero2 h2 {
        max-width: 20rem;
        font-size: 1.3rem;
      }}
      

  @media screen and (max-width: 80rem) {
    .zero3 h2 {
      max-width: 10rem;
      font-size: 1rem;
    }}

    @media screen and (min-width: 75rem) {
      .zero3 h2 {
        max-width: 20rem;
        font-size: 1.3rem;
      }}
      

  @media screen and (max-width: 80rem) {
    .zero4 h2 {
      max-width: 10rem;
      font-size: 1.2rem;
    }}

    @media screen and (min-width: 75rem) {
      .zero4 h2 {
        max-width: 20rem;
        font-size: 1.3rem;
      }}
      

  @media screen and (max-width: 80rem) {
    .zero5 h2 {
      max-width: 10rem;
      font-size: 1.2rem;
    }}

    @media screen and (min-width: 75rem) {
      .zero5 h2 {
        max-width: 20rem;
        font-size: 1.3rem;
      }}
      

  @media screen and (max-width: 80rem) {
    .zero6 h2 {
      max-width: 10rem;
      font-size: 1.2rem;
    }}

    @media screen and (min-width: 75rem) {
      .zero6 h2 {
        max-width: 20rem;
        font-size: 1.3rem;
      }}
      

  @media screen and (max-width: 80rem) {
    .zero7 h2 {
      max-width: 10rem;
      font-size: 1.2rem;
    }}

    @media screen and (min-width: 75rem) {
      .zero7 h2 {
        max-width: 20rem;
        font-size: 1.3rem;
      }}


      @media screen and (min-width: 90rem) {
        .zero h2 {
          max-width: 50rem;
        }}

        @media screen and (min-width: 90rem) {
          .zero2 h2 {
            max-width: 50rem;
          }}

          @media screen and (min-width: 90rem) {
            .zero3 h2 {
              max-width: 50rem;
            }}

            @media screen and (min-width: 90rem) {
              .zero4 h2 {
                max-width: 50rem;
              }}

              @media screen and (min-width: 90rem) {
                .zero5 h2 {
                  max-width: 50rem;
                }}

                @media screen and (min-width: 90rem) {
                  .zero6 h2 {
                    max-width: 50rem;
                  }}

                  @media screen and (min-width: 90rem) {
                    .zero7 h2 {
                      max-width: 50rem;
                    }}